.ContestPreview {
  margin: 1em;
  border: 1px solid black; }
  .ContestPreview .category-name {
    border-bottom: 1px solid grey;
    padding: 0.25 em 0.5 em;
    font-weight: bold;
    background-color: grey; }
  .ContestPreview .contest-name {
    padding: 0.5 em; }
